//VARIABLES
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg{
    color: $maincolor;
    background-color: $contrastcolor;
}



.index{
    margin: 20px;
    padding: 10px;
    border: solid;

}

.cheeseCreation{
    display: flex;
    justify-content: center;
}

h1, h2, h3{
    text-align: center;
}



Form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.cheesesContainer{
    display: flex;
    flex-wrap: wrap;
}

.cheese{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid;
    width: 10em;
    padding: 10px;
    margin: 5px;
}

nav{
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    a {
        @include white-text-black-bg;
        div {
            margin: 10px;
            font-size: large;
        }
    }
}

.imgContainer{
    height: 100px;
    width: 100px;
}

img{
    max-width: 100%;
    max-height: 100%;
}